Package: com.skitty.dune
Name: Dune
Depends: mobilesubstrate, preferenceloader
Version: 0.1.4
Architecture: iphoneos-arm
Description: A free, open-source iOS dark mode.
Maintainer: Skitty
Author: Skitty
Section: Tweaks
