<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>DUNEHeader</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>mode</string>
			<key>label</key>
			<string>Mode</string>
			<key>validTitles</key>
			<array>
				<string>Dark</string>
				<string>Darker</string>
				<string>Black</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>notifications</string>
			<key>label</key>
			<string>Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>notification3d</string>
			<key>label</key>
			<string>Notification 3D Touch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>widgets</string>
			<key>label</key>
			<string>Widgets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>touch3d</string>
			<key>label</key>
			<string>3D Touch Menus</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>folders</string>
			<key>label</key>
			<string>Folders</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>dock</string>
			<key>label</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.skitty.dune</string>
			<key>PostNotification</key>
			<string>com.skitty.dune.prefschanged</string>
			<key>key</key>
			<string>keyboard</string>
			<key>label</key>
			<string>Keyboard</string>
		</dict>
	</array>
	<key>title</key>
	<string>Dune</string>
</dict>
</plist>
